h1{
    text-align: center;
}

h2{
    text-align: center;
}

#main-div{
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}

#color-picker{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 65%;
    height: 54px;
    margin-bottom: 40px;
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
}

#tried-count{
    border: 1px solid black;
    width: 34%;
    max-width: 200px;
    height: 54px;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.color-chooser{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
}

.color-setter{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
}

.play-space{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0px 0px 20px 0px;
    list-style-type: none;
    padding: 0px;
}

.correct-count{
    border: 1px solid black;
    width: 34%;
    max-width: 200px;
    height: 54px;
    margin: 0px 0px 20px 0px;
    list-style-type: none;
    padding: 0px;
}

.blue{
    background-color:blue; 
    border-color: darkblue;
}

.red{
    background-color:red; 
    border-color: darkred;
}

.green{
    background-color:green;
    border-color: darkgreen;
}

.yellow{
    background-color:yellow;
    border-color: darkgoldenrod;
}

.unspecified{
    background-color: lightgray;
    border-color: gray;
}

#button-div{
    margin-top: 30px;
    text-align: center;
    margin: 0px auto;
}

#button{
    font-size: 20px;
    padding: 5px 10px;
}